* {
    font-family: Ubuntu Nerd Font;
    font-size: 20px;
}

window#waybar {
    background-color: #a0a0a0;
}

label.module {
    background-color: #888888;
    margin: 4px;
    padding: 6px;
    border-radius: 6px;
}

/* merge the CPU and temperature units together */
#cpu {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#temperature {
    margin-left: 0;
    padding-left: 0;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#tags button.occupied {
    background: slategrey;
}

#tags button.focused {
    background: steelblue
}

#tags button.urgent {
    background: orange;
}